extends ../layout

block content
	if product
		form.form-product(method='POST' action='/products/'+product.id+"?_method=PUT")
			.column
				.row
					label(for="inputName") Name
					input#inputName.u-full-width(value=product.name type='text' name='name' placeholder='Name' required autofocus autocomplete)
				.row
					label(for="inputPrice") Price
					input#inputPrice.u-full-width(value=product.price pattern="([0-9]+)(\\.)([0-9][0-9])" title='Sample 199.99' type='text' name='price' placeholder='Price' required autocomplete)
				.row
					label(for="inputStockQuantity") Stock quantity
					input#inputStockQuantity.u-full-width(value=product.stockQuantity type='text' pattern="([0-9]+)" title='Integer only' name='stockQuantity' placeholder='Stock quantity' required autocomplete)
				.row
					input#inputCategoryId.hidden(value=product.categoryId type='text' name='categoryId')
					label(for="inputCategoryId") Category
					select#selectCategoryId.u-full-width
						each category in categories
							option(value=category.id selected=category.id === product.categoryId)= category.name

			input.button-primary(type="submit" value="Update")
			input(type='hidden', name='_csrf', value=csrf)
			if error
				.text-error #{error}
